# The Central Limit Theorem

The *Central Limit Theorem* states that if we draw a simple random sample of size $n$ from any population with mean $\mu$ and standard deviation $\sigma$, if $n$ is large the distribuion of the sample means is approximately normal of the form

$$N(\mu, \frac{\sigma}{n})$$

This activity is meant to offer an example of the central limit theorem in action, and the effect of using different sample sizes in forming the distribution of sample means.

### Baseball Salaries

![](images/baseballs.png)


The dataset below represents Major League Baseball player salaries from the year 2020, and was gathered from USA Today's databases. Below, the dataset is loaded and we examine the features and datatypes.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
#read in the data
baseball_salaries = pd.read_csv('data/baseball.csv', index_col=0)

In [6]:
#Examine the .info()
baseball_salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 1 to 797
Data columns (total 6 columns):
team           797 non-null object
leagueID       797 non-null object
player         797 non-null object
salary         797 non-null int64
position       797 non-null object
gamesplayed    797 non-null int64
dtypes: int64(2), object(4)
memory usage: 43.6+ KB

In [7]:
#First few rows
baseball_salaries.head()

  team leagueID    player    salary position  gamesplayed
1  ANA       AL  anderga0   6200000       CF          112
2  ANA       AL  colonba0  11000000        P            3
3  ANA       AL  davanje0    375000       CF          108
4  ANA       AL  donnebr0    375000        P            5
5  ANA       AL  eckstda0   2150000       SS          142

### Task

Our goal is to take samples from the salary data and build a distribution of these sample means.  To begin, draw a histogram of the salaries.  Note the skew and lack of normality in this distribution.

In [8]:
#histogram of the salaries

### Taking Samples

Pandas DataFrame's have built in methods for taking random samples with replacement.  The `.sample()` method is demonstrated below.

In [9]:
baseball_salaries['salary'].sample(4)

110     309000
192    1000000
78      950000
44     7000000
Name: salary, dtype: int64

### Sample Means

Now, use this method to repeatedly take samples and build a list of sample means.  As a starting place let us take 1000 samples of size 5 and draw the histogram of the sample means.  What is the mean and standard deviation?

In [10]:
#empty list for sample means
sample_means = []
for i in range(1000):
    #your code below
    pass

In [11]:
#histogram of sample means

Repeat the above exercise with samples of size:

- 10
- 25
- 50
- 100

Your discussion post should explain how the distribution of these sample means changes as the sample size changes, and how the mean and standard deviation of the distributions change.